* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Arial', 'Helvetica', sans-serif;
}

body {
  background-color: #e0e5e9;
}

button {
  outline: none;
}

.slider {
  position: absolute;
  top: 50px;
  right: 100px;
  padding: 25px 25px 0;
  border: 3px solid #888888;
  border-radius: 10px;
  background-color: #ffffff;
}

.slider__inner {
  width: 600px;
  overflow: hidden;
  background-color: #666666;
}

.slider__images-list {
  height: 337.33529px;
  width: 2400px;
  margin-left: 0;
  list-style: none;
  -webkit-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  font-size: 0;
}

.slider__li {
  display: inline-block;
}

.slider__image {
  width: 600px;
  height: 337.33529px;
}

.slider__control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75px;
}

.slider__switch {
  padding-bottom: 5px;
  font-size: 32px;
  font-weight: 700;
  color: #999999;
  background-color: #ffffff;
}

.slider__switch--to-previous {
  margin-right: 7px;
}

.slider__switch--to-next {
  margin-left: 7px;
  margin-right: auto;
}

.slider__switch:hover {
  color: #777777;
  cursor: pointer;
}

.slider__button {
  padding: 5px 10px 3px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #444444;
  border-radius: 5px;
  color: #444444;
  background-color: #dddddd;
}

.slider__button--delete-slide {
  margin-left: auto;
}

.slider__button--add-slide {
  margin-left: auto;
}

.slider__button:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.slider__slide-number {
  font-size: 25px;
  font-weight: 700;
  color: #444444;
}

.slider__to-n-slide {
  padding-top: 1px;
  font-size: 20px;
  font-weight: 700;
  color: #444444;
}

.slider__to-n-slide--label {
  margin-right: 5px;
}

.slider__to-n-slide--input {
  width: 40px;
}

.menu {
  position: absolute;
  top: 50px;
  padding: 50px 50px 20px;
  max-width: 300px;
  background-color: #565d67;
  -webkit-transition: left, 0.5s;
  -o-transition: left, 0.5s;
  transition: left, 0.5s;
  visibility: hidden;
}

.menu__close {
  top: 15px;
  right: 15px;
}

.menu__li {
  padding-bottom: 30px;
  list-style-type: none;
}

.menu__href {
  font-family: "Titillium Web", "Arial", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: pointer;
}

.menu__href:hover {
  color: #dddddd;
}

.show-button {
  position: absolute;
  left: 20px;
  padding: 7px 20px;
  font-family: 'Titillium Web', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffee;
  border: 2px solid #ffffee;
  border-radius: 15px;
  background-color: #565d67;
  -webkit-box-shadow: 0 2px 6px #565d67;
  box-shadow: 0 2px 6px #565d67;
  cursor: pointer;
}

.show-button--menu {
  top: 60px;
}

.show-button--modal-window {
  top: 220px;
}

.show-button:hover {
  background-color: #444444;
}

.close-button {
  position: absolute;
  cursor: pointer;
}

.close-button line {
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.close-button:hover line {
  stroke: #dddddd;
}

.modal-window {
  position: absolute;
  top: 130px;
  left: 10px;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  min-width: 300px;
  max-width: 500px;
  padding: 2.5rem;
  font-family: "Titillium Web", "Arial", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #565d67;
  visibility: hidden;
}

.modal-window--animation {
  -webkit-animation-name: appearance;
  -o-animation-name: appearance;
  animation-name: appearance;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.modal-window__close {
  top: 15px;
  right: 15px;
}

.modal-window__text {
  line-height: 1.8rem;
}

.modal-window__text--bold {
  margin-top: 1.5rem;
  font-weight: 400;
  text-align: center;
}

@-webkit-keyframes appearance {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes appearance {
  0% {
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes appearance {
  0% {
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.tabs {
  position: absolute;
  top: 420px;
  left: 10px;
  width: 550px;
}

.tabs__switch-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tabs__switch {
  padding: 8px 15px;
  font-size: 20px;
  color: #3399cc;
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.tabs__switch:hover {
  color: #4488bb;
  cursor: pointer;
  border-left: 1px solid #bbbbbb;
  border-top: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
}

.tabs__switch--active {
  color: #444444;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #999999;
  border-top: 1px solid #999999;
  border-right: 1px solid #999999;
}

.tabs__additional {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-bottom: 1px solid #999999;
}

.tabs__main {
  background-color: #ffffff;
}

.tabs__content {
  padding: 15px;
  display: none;
}

.tabs__content--visible {
  display: block;
}
