.menu {
  position: absolute;
  top: 50px;
  padding: 50px 50px 20px;
  max-width: 300px;
  background-color: $block-background;
  transition: left, 0.5s;
  visibility: hidden;

  &__close {
    top: 15px;
    right: 15px;
  }

  &__li {
    padding-bottom: 30px;
    list-style-type: none;
  }

  &__href {
    font-family: $font-family;
    color: $text-color;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    text-decoration: none;
    transition-duration: 0.1s;
    cursor: pointer;

    &:hover {
      color: #dddddd;
    }
  }
}