.show-button {
  position: absolute;
  left: 20px;
  padding: 7px 20px;
  font-family: 'Titillium Web', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffee;
  border: 2px solid #ffffee;
  border-radius: 15px;
  background-color: $block-background;
  box-shadow: 0 2px 6px $block-background;
  cursor: pointer;

  &--menu {
    top: 60px;
  }

  &--modal-window {
    top: 220px;
  }

  &:hover {
    background-color: $show-button-hover;
  }
}