$image-width: 600px;
$image-height: $image-width * 768/1366;

$block-background: #565d67;
$show-button-hover: #444444;
$text-color: #ffffff;
$font-size: 1.5rem;
$font-family: 'Titillium Web', 'Arial', sans-serif;