* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Arial', 'Helvetica', sans-serif;
}

body {
  background-color: #e0e5e9;
}

button {
  outline: none;
}

@import "variables";
@import "slider";
@import "menu";
@import "show-button";
@import "close-button";
@import "modal-window";
@import "tabs";